// scss/components/_card.scss

.card {
  position: relative;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;

  // рубашка — фон карточки
  background: #0a0a0a;

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.03);
  }
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../assets/images/logo/logo-1.png')
      center / contain no-repeat;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 0;
  }

  &--open {
    &::before {
      opacity: 0;
    }

    .card__image {
      opacity: 1;
    }
  }

  &--matched {
    cursor: default;
    box-shadow: 0 0 0 3px #ffd700;

    &:hover {
      transform: none;
    }
  }
}
